/* Default styles */
@import "reset.css";

body  { font: 14px/20px Arial,Helvetica,Sans-serif; color: #555; background-color: #fff; }

h1, h2, h3, h4, h5, h6  { margin: 2px; font-family:Georgia, serif; color: #222; font-weight:normal; padding-bottom: 5px;}
h1  {font-size: 24px; } h2  {font-size: 22px;} h3  {font-size: 16px;} h4  {font-size: 14px;} h5  {font-size: 13px;} h6  {font-size: 12px;}

p {
	margin: 5px; font:16px/24px Georgia, serif; 
	line-height: 5px;
	}

hr { background-color: #e6e6e6;	border:0; height: 1px; margin-bottom: 20px; }

input, textarea { padding: 7px 0 7px 7px; border-color: #ccc #efefef #efefef #ccc; border-width:1px; border-style:solid;}

/* 1.2 Hyperlinks */

a:link, a:visited  { color: #3088ff; text-decoration:none;}
a:hover {text-decoration:underline;}

h1 a:link, h1 a:visited, h2 a:link, h2 a:visited, h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited, h5 a:link, h5 a:visited, h6 a:link, h6 a:visited  { text-decoration: none; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover  {text-decoration: underline;}



/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */
#wrapper  { padding:10px 0 40px; }

#main{}
#sidebar{}

.col-left { float: left; }
.col-right { float: right;  }
.col-right p { display: inline;  }
.col-full  { width: 940px; margin: 0 auto; }

/* 2.2 Navigation */
#navigation{font:14px/14px Helvetica, Arial, sans-serif;border-top:1px solid #dbdbdb; border-bottom:5px solid #dbdbdb;padding:10px 0; margin-bottom:30px;}

#navigation ul.rss{}
#navigation ul.rss li{display:inline;padding:0 3px 0 0;}
#navigation ul.rss li a{background:url(images/ico-rss.png) no-repeat right 5px;padding:6px 5px 3px 0;margin-right:10px;color:#c63f00;text-decoration:none;}
#navigation ul.rss li a:hover{text-decoration:underline;}

.nav { z-index:99; margin:0; padding:0; list-style:none; line-height:1; margin-left:10px; }
.nav a  { position:relative; color:#555; display:block; z-index:100; padding:5px 7px; line-height:18px; text-decoration:none; }
.nav a:hover, .nav li.current_page_item, .nav li.current_page_parent { background:#eee; }
.nav li li.current_page_item { background:none; }
.nav li  { float:left; width: auto; }
.nav li a.sf-with-ul { padding-right:20px; }

/* 2.2.1 Drop-down menus */
.nav li ul  { background: #FFF; position: absolute; left: -999em; width: 180px; border: 1px solid #dbdbdb; border-width:1px 1px 0; z-index:999; }
.nav li ul li  { background:#eee; border-top:1px solid #fff; border-bottom:1px solid #dbdbdb;}
.nav li ul li a  { width:160px; color:#555; font-size:0.8em; line-height:18px; }
.nav li ul li a.sf-with-ul { padding:5px 10px; }
.nav li ul li a:hover  { background:#eaeaea;}
.nav li ul ul  { margin: -30px 0 0 180px; }
.nav li ul ul li a  {  }
.nav li ul li ul li a  {  }

.nav li:hover,.nav li.hover  { position:static; }
.nav li:hover ul ul, .nav li.sfhover ul ul,
.nav li:hover ul ul ul, .nav li.sfhover ul ul ul,
.nav li:hover ul ul ul ul, .nav li.sfhover ul ul ul ul { left:-999em; }
.nav li:hover ul, .nav li.sfhover ul,
.nav li li:hover ul, .nav li li.sfhover ul,
.nav li li li:hover ul, .nav li li li.sfhover ul,
.nav li li li li:hover ul, .nav li li li li.sfhover ul  { left:auto; }

.nav .sf-sub-indicator {background:	url(images/arrow-superfish.png) no-repeat;position:absolute;display:block;right:0.4em;top:0.9em;width:10px;height:10px;text-indent:-999em;overflow:hidden;}
.nav li ul .sf-sub-indicator {background:url(images/arrow-superfish-right.png) no-repeat;}

/* 2.3 Header */
#header{padding:10px 0 10px;clear:both;position:relative;}

#logo  { float:left; }
#logo img  { }
#logo a {
	font-size: 28px;
	font-weight: bold;
	color: #000;
}
#logo .site-title, #logo .site-description  { font-family:Georgia, serif; color: #000; display:none;  }
#logo .site-title a { color:#222; font-size:40px; line-height:20px; text-transform:none; font-weight:normal; text-decoration:none; }
#logo .site-title a:hover { text-decoration:underline; }
#logo .site-description { color:#999; font:italic 14px Georgia, serif; }

#topad {float:right;}


/* 2.4 Content */
#content{padding:0 0 40px; position:relative;}

/* 2.5 Sidebar */
#sidebar{overflow:hidden;}
#sidebar .primary { }
#sidebar .secondary { float:left; margin-right:20px; } 
#sidebar .tertiary { float:left; margin-right:0; } 
#sidebar .last { margin:0; } 

/* 2.6 Footer */
#footer{padding: 20px 0;border-top: 4px solid #e6e6e6; color:#999;}
#footer p {font:italic normal 14px Georgia, serif;}
#footer #credit img{vertical-align:middle;}
#footer #credit span{display:none;}
#footer #credit a{}
#footer .col-left { padding-left:10px; }
#footer .col-right { padding-right:5px; }


/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/

#breadcrumb {}

.archive_header  { display: block; float: left; width: 100%; margin:0 0 30px; padding:0 0 10px; font-size: 18px; font-weight: bold; border-bottom:#e6e6e6 5px solid; }
.archive_header .catrss a  { font-size: 14px; text-decoration: none; line-height: 28px; }

.post  { margin: 0 0 40px;}

.post .title, .page .title  { font:normal bold 24px/24px Arial, Helvetica, sans-serif;position:relative; margin: 0 0 0px; }
.page .title   { margin: 0 0 0px 0; }
.post .title a:link, .post .title a:visited,
.page .title a:link, .page .title a:visited{ color:#222; }

.post p.tags{background:url(images/ico-tag.gif) no-repeat center left;padding-left:25px;clear:both;margin-bottom:20px;}

.post .post-embed { margin-bottom:30px; }

.entry  {font-size: 8px;}

/* 3.1 Typographic Elements */
.entry h1 { margin-bottom:5px; padding-bottom: 5px; }  .entry h2 { padding-bottom:20px; }  .entry h3 { padding-bottom:10px; }  .entry h4 {}  .entry h5 {}  .entry h6 {}

.entry p  { margin: 0 0 20px 0; }

.entry blockquote  { padding: 10px 20px 10px 30px; color: #444;  }
.entry blockquote p  { font-style:italic; }

/* 3.2 Images */
.entry img, img.thumbnail { padding: 5px; border: 0px solid #e6e6e6; }
img.wp-smiley  { padding: 0; border: none; }

.alignleft  { float: left; width: auto; margin: 5px 15px 5px 0; }
.alignright  { float: right; width: auto; margin: 5px 0 5px 15px; }
.aligncenter  { text-align: center; margin-bottom:15px;}
img.aligncenter  { margin-left:auto; margin-right:auto; display:block; }

.entry .wp-caption { padding: 1px; text-align:center; background:#F8F8F8; background:rgba(255,255,255,0.7); border: solid 1px #e6e6e6; }
.entry .wp-caption img{ margin:0; padding:4px 0; background:none; border:0; }
.entry .wp-caption-text { margin:0; padding:0; font:11px/22px Arial, Helvetica, sans-serif; text-align:center; }


/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

/* 4.2 Generic Widgets */
.widget  { margin: 0 0 30px 0; font-size:12px; }
.widget h3  { margin: 0 0 20px 0; padding:0 0 15px; text-transform:uppercase; font:normal bold 14px Arial, Helvetica, sans-serif; color:#555; border-bottom:3px solid #e6e6e6; }
.widget p { font:12px/20px Arial, Helvetica, sans-serif; margin-bottom:15px; }

.widget_recent_comments li, #twitter li  { padding: 6px 0; line-height: 18px; border-bottom: 1px solid #eee; } /* RESET LI STYLING FOR RECENT COMMENT & TWITTER */
.widget_recent_comments li a, #twitter a  { display: inline; padding: 0; line-height: 18px!important; background: none!important; border: none!important; } /* RESET <A> STYLING FOR RECENT COMMENT & TWITTER */

#footer-widgets { border-top:1px solid #e6e6e6; padding:10px 0; }
#footer-widgets .block { padding:20px 0 0 20px; width:210px; float:left; }

/* 4.2 Specific Widgets */

/* WIDGET FORMS */
.searchform  { }
.widget input.s  { float:left; width: 60%; padding: 7px 0 7px 7px; margin-right:5px; border-color: #ccc #efefef #efefef #ccc; border-width:1px; border-style:solid;}
#footer-widgets .widget input.s  { width: 55%; }
.widget .screen-reader-text  { display: none; }
.widget input.submit { margin-left:5px; float:left; }



/*-------------------------------------------------------------------------------------------*/
/* 6. MISC */
/*-------------------------------------------------------------------------------------------*/

/* 6.1 Buttons */
.button, .button:visited, .reply a{ font-family:Verdana, Geneva, sans-serif; background: url(images/alert-overlay.png); display: inline-block; padding: 5px 10px 6px; color: #fff !important; text-decoration: none; border:none; position: relative; cursor: pointer; }
.button, .button:visited, .reply a{ background-color:#555; }
.button:hover, .reply a:hover { color: #fff  !important; text-decoration:none; }
.button:active, .reply a:active { top: 1px; }
.small.button, .small.button:visited, .reply a { font-size: 10px; padding: 0px 6px 1px; text-transform:uppercase;}
.button, .button:visited, .medium.button, .medium.button:visited { font-size: 13px; font-weight: bold; line-height: 1; }
.large.button, .large.button:visited { font-size: 14px; padding: 8px 14px 9px; }

/* 6.2 Info Boxes */
p.alert, p.download, p.info, p.note, p.tick {  margin:10px 0 20px 0; padding:9px 10px 9px 50px; }
p.alert { border-top:1px solid #f0baa2; border-bottom:1px solid #f0baa2; background:#ffd9c8 url(images/ico-alert.png) no-repeat 20px 13px; }
p.download { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-download.png) no-repeat 20px 13px; }
p.tick { border-top:1px solid #d4ebaf; border-bottom:1px solid #d4ebaf; background:#edfcd5 url(images/ico-tick.png) no-repeat 20px 13px; }
p.info { border-top:1px solid #ccc; border-bottom:1px solid #ccc; background:#eee url(images/ico-info.png) no-repeat 20px 13px; }
p.note { border-top:1px solid #efe3ae; border-bottom:1px solid #efe3ae; background:#fef6d2 url(images/ico-note.png) no-repeat 20px 13px; }

/* 7.1 Site width */
.width-980 .col-full { width:980px; }
.width-960 .col-full { width:960px; }
.width-940 .col-full { width:940px; }
.width-880 .col-full { width:880px; }
.width-760 .col-full { width:760px; }

.width-980 #wrapper { width:980px; margin-left:auto; margin-right:auto; }
.width-960 #wrapper { width:960px; margin-left:auto; margin-right:auto; }
.width-940 #wrapper { width:940px; margin-left:auto; margin-right:auto; }
.width-880 #wrapper { width:880px; margin-left:auto; margin-right:auto; }
.width-760 #wrapper { width:760px; margin-left:auto; margin-right:auto; }

.width-980 #footer-widgets .block {width:220px}
.width-960 #footer-widgets .block {width:215px}
.width-880 #footer-widgets .block {width:195px}
.width-760 #footer-widgets .block {width:165px}


/* 7.2 two-col-left */
.two-col-left #main-sidebar-container { display:inline; }
.two-col-left #main-sidebar-container #main{width:610px; float:left; display:inline; }
.two-col-left #main-sidebar-container #sidebar{width:300px; float:right; display:inline; }
.two-col-left-980 #main-sidebar-container #main { width:650px; }
.two-col-left-960 #main-sidebar-container #main { width:630px; }
.two-col-left-880 #main-sidebar-container #main { width:550px; }
.two-col-left-760 #main-sidebar-container #main { width:480px; }
.two-col-left-880 #main-sidebar-container #sidebar { width:300px; }
.two-col-left-760 #main-sidebar-container #sidebar { width:250px; }


/* 7.3 two-col-right */
.two-col-right #main-sidebar-container { display:inline; }
.two-col-right #main-sidebar-container #main{width:610px; float:right; display:inline; }
.two-col-right #main-sidebar-container #sidebar{width:300px; float:left; display:inline; }
.two-col-right-980 #main-sidebar-container #main { width:650px; }
.two-col-right-960 #main-sidebar-container #main { width:630px; }
.two-col-right-880 #main-sidebar-container #main { width:550px; }
.two-col-right-880 #main-sidebar-container #sidebar { width:300px; }
.two-col-right-760 #main-sidebar-container #main { width:480px; }
.two-col-right-760 #main-sidebar-container #sidebar { width:250px; }