<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Hack-weekends-guide : This is a template for planning and managing your hackathon" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Singly Hackathon Guide</title>
    
    <!-- AddThisEvent -->
    <script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
    
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/kinlane/hack-weekends-guide">View on GitHub</a>

          <h1 id="project_title"><a href="http://siingly.com" title="Singly" target="_blank">Singly</a> <a href="https://github.com/kinlane/hack-weekends-guide" target="_blank">Hackathon Guide</a></h1>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/kinlane/hack-weekends-guide/zipball/master">Download as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/kinlane/hack-weekends-guide/tarball/master">Download as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">     

                  {{ content }}

        </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Hack Weekends Guide is maintained by <a href="https://github.com/kinlane">Kin Lane</a></p>
        <p class="copyright">Hack Weekends Guide supported by <a href="https://singly.com">Singly</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
